* {
    margin: 0;
}

.header {}

.header-container>img {
    width: 65px;
    height: 65px;
    margin-top: 20px;
    margin-left: 20px;
}

.header-container {
    width: 1000px;
    height: 100px;
    background-color: #f6f5f0;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.header-nav {
    margin-top: 10px;
}

.header-top-nav {
    display: flex;
    font-size: 13px;
    color: #656565;
    width: 600px;
    float: right;
    margin-bottom: 20px;
    cursor: pointer;
    align-items: center;
}

.header-top-nav-divider {
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    background-color: black;
    margin: auto;
}

.header-top-nav:hover {
    color: black
}

.search-icon {
    margin-left: 30px;
    background-color: white;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.header-bottom-nav {
    width: 800px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.header-bottom-nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.header-bottom-nav-coffee,
.header-bottom-nav-menu,
.header-bottom-nav-store {
    width: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.header-bottom-nav-responsibility {
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.header-bottom-nav-my-starbucks-reward {
    width: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.header-bottom-nav-news {
    width: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.header-bottom-nav-coffee>div,
.header-bottom-nav-menu>div,
.header-bottom-nav-store>div,
.header-bottom-nav-responsibility>div,
.header-bottom-nav-my-starbucks-reward>div,
.header-bottom-nav-news>div {
    padding: 5px;
}

.header-bottom-nav-coffee-bg {
    width: 100%;
    /* height: 400px; */
    margin: 0 auto;
    background-color: #333;
    position: absolute;
    left: 0;
    margin-top: 40px;
    z-index: 2;
}

.header-bottom-nav-coffee-bottom-bg {
    width: 100%;
    height: 100px;
    /* margin: 0 auto; */
    background-image: url("../images/main_menu_pattern.jpg");
    position: absolute;
    margin-top: 500px;
    left: 0;
    z-index: 2;
}

.header-bottom-nav-coffee-container {
    width: 1000px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: start;
    /* justify-content: space-evenly; */
    margin-bottom: 50px;
    border: 1px solid white;
}

.header-bottom-nav-coffee-container>div {
    margin-right: 80px;
}

.header-bottom-nav-coffee-bg {
    display: none;
}

.header-bottom-nav-coffee:hover,
.header-bottom-nav-menu:hover,
.header-bottom-nav-store:hover,
.header-bottom-nav-responsibility:hover,
.header-bottom-nav-my-starbucks-reward:hover,
.header-bottom-nav-news:hover {
    background-color: #333;
    height: 55px;
    color: #669900;
}

.header-bottom-nav-coffee:hover+.header-bottom-nav-coffee-bg {
    display: block;
    background-color: #333;
}

.header-bottom-nav-menu:hover+.header-bottom-nav-coffee-bg {
    display: block;
    color: red;
}

.header-bottom-nav-store:hover+.header-bottom-nav-coffee-bg {
    display: block;
    color: red;
}

.header-bottom-nav-responsibility:hover+.header-bottom-nav-coffee-bg {
    display: block;
    color: red;
}

.header-bottom-nav-my-starbucks-reward:hover+.header-bottom-nav-coffee-bg {
    display: block;
    color: red;
}

.header-bottom-nav-news:hover+.header-bottom-nav-coffee-bg {
    display: block;
    color: red;
}

.header-bottom-nav-extend-bg {
    background-image: url("../images/main_menu_pattern.jpg");
    /* height: 100px; */
    /* display: none; */
    left: 0;
    /* top:100px; */
    width: 100%;
    position: absolute;
}

.header-bottom-nav-extend-container {
    width: 1000px;
    border: 1px solid white;
    margin: 0 auto;
}

.header-bottom-nav-coffee:hover+.header-bottom-nav-coffee-bg {
    display: block;
}

.header-bottom-nav-title {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

.header-bottom-nav-contents {
    color: #656565;
}

.header-bottom-nav-contents>div {
    margin-top: 10px;
}

.header-bottom-nav-extend-title {
    margin-top: 20px;
    color: #656565;
    margin-bottom: 5px;
}

.header-bottom-nav-extend-content {
    margin-bottom: 20px;
    color: #669900;
    margin-top: 5px;
}


/*  coffee image */

.coffee-image {
    background-image: url("https://keen-leakey-d05b43.netlify.app/images/visual_bg.jpg");
    background-color: bl;
    width: 100%;
    height: 648px;
    background-position: center
}

.coffee-image-container {
    width: 1000px;
    height: 648px;
    margin: 0 auto;
    border: 1px solid #333
}

.delightful-image {
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    animation-duration: 4s;
    animation-name: delightfulImage;
}

.deflightful-detail-button {
    color: #592b18;
    width: 130px;
    padding: 10px;
    border: 2px solid #592b18;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: 35px;
    margin-left: 170px;
    position: absolute;
}

.deflightful-detail-button:hover {
    background-color: #592b18;
    color: white;
}

.delightfulImage {
    animation-name: delightfulImage;
    animation-duration: 5.5s;
}

@keyframes delightfulImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.visual-spoon-image {
    margin-top: 420px;
    margin-left: 320px;
    position: absolute;
    animation-duration: 6s;
    animation-name: visualSpoonImage;
}

.visualSpoonImage {
    animation-name: visualSpoonImage;
    /* animation-duration: 7.5s; */
}

@keyframes visualSpoonImage {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carabel-crumble-image {
    margin-top: 150px;
    margin-left: 670px;
    position: absolute;
    z-index: 1;
    animation-name: carabelCrumbleImage;
    animation-duration: 5s;
}

.carabelCrumbleImage {
    animation-name: carabelCrumbleImage;
}

@keyframes carabelCrumbleImage {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.oatmeal-latte-image {
    margin-top: 80px;
    margin-left: 870px;
    position: absolute;
    animation-name: oatmealLatteImage;
    animation-duration: 4s;
}

.oatmealLatteImage {
    animation-name: oatmealLatteImage;
}

@keyframes oatmealLatteImage {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* info slider */

.slider {
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.silder-table {
    width: 50vw;
    height: 50px;
    border-right: 1px solid black;
    background-color: #333;
    display: flex;
    justify-content: end;
}

.silder-table>i {
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
}

.starbuck-promotion {
    /* float: right; */
    display: flex;
    justify-content: end;
    margin-top: -37px;
    margin-right: 25vw;
}

.silder-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}

.silder-show {
    width: 500px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid red;
}


/* image slide */

.slideshow-section {}

.dot-components {
    margin-top: 100px;
}

.image-slider-arrow-icons {
    width: 720px;
    height: 30px;
    font-size: 50px;
    margin-left: 600px;
    margin-top: 100px;
    position: absolute;
}

.slide-detail-button {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-left: 41%
}

.slide-detail-button:hover {
    color: white;
    background-color: #333;
}

.prev {
    float: left;
    cursor: pointer;
}

.next {
    float: right;
    cursor: pointer;
}

.slideshow-container {
    display: flex;
    width: 100%;
    background-color: #f6f5f0;
}

.mySlides {
    display: flex;
    justify-content: center;
}

.mySlides>img {
    max-width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* reward image */

.reward-image>img {
    display: block;
    margin: 0 auto;
}

.reward-image-left {
    width: 50%;
    background-color: #272727;
}

.reward-image-right {
    width: 50%;
    float: right;
    background-color: #d5c798;
}

.reward-image-container {
    display: flex;
    /* z-index: 5; */
}

.reward-login-button {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: white;
    background-color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}

.reward-login-button:hover {
    color: #333;
    background-color: transparent;
}

.reward-signin-button {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    background-color: #d5c798;
}

.reward-signin-button:hover {
    background-color: #333;
    color: white;
}

.reward-e-gift {
    width: 280px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    background-color: #d5c798;
}

.reward-e-gift:hover {
    background-color: #333;
    color: white;
}

.reward-signin-button {
    margin-left: -10px;
}

.reward-login-button {
    margin-left: 18px;
}

.regular-button {
    display: flex;
    padding: 10px;
}

.reward-buttons {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    margin-left: -280px;
}


/* youtube video */

.youtube {
    position: relative;
    z-index: -1;
}

.youtube-video-container {
    margin-top: -150px;
    left: 0;
}

.youtube-cover {
    width: 100%;
    height: 1100px;
    background-image: url("../images/video_cover_pattern.png");
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
}

.floating-image-first {
    position: absolute;
    animation-duration: 4s;
    animation-name: floting;
    animation-iteration-count: infinite;
    top: 0;
    margin-top: 150px;
    margin-left: 100px;
}

.floating-image-second {
    position: absolute;
    top: 0;
    animation-duration: 6s;
    animation-name: floting;
    animation-iteration-count: infinite;
    margin-top: 550px;
    margin-left: 150px;
}

.floating-image-third {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 150px;
    margin-bottom: 50px;
    animation-duration: 10s;
    animation-name: floting;
    animation-iteration-count: infinite;
}

.floting {
    animation-name: floting;
    animation-duration: 5.5s;
}

@keyframes floting {
    0% {
        top: 20px;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 20px;
    }
}


/* ice coffee blend */

.ice-coffee-blend {
    background-image: url("../images/season_product_bg.jpg");
    width: 100%;
    height: 420px;
    margin-top: -130px;
}

.ice-coffee-blend-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.season-product {
    z-index: 5;
    animation-duration: 2.5s;
    animation-name: iceCoffeeBlend;
}

.iceCoffeeBlend {
    animation-name: iceCoffeeBlend;
}

@keyframes iceCoffeeBlend {
    0% {
        opacity: 0;
        margin-left: -200px;
    }
    50% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.season-product-description-top {
    width: 500px;
    animation-duration: 2.5s;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 100px;
    padding: 5px;
    font-family: sans-serif;
    animation-name: descriptionTop;
}

.descriptionTop {
    animation-name: descriptionTop;
}

@keyframes descriptionTop {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-right: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.season-product-description-top-first {
    font-weight: bold;
    font-size: 18px;
}

.season-product-description-top-second {
    font-size: 23px;
    font-weight: bold;
}

.season-product-description-bottom {
    width: 500px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin-top: 180px;
    color: #592b18;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: descriptionBottom;
    animation-duration: 3s;
}

.descriptionBottom {
    animation-name: descriptionBottom;
}

@keyframes descriptionBottom {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-right: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.season-product-description-button {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 280px;
    margin-right: 380px;
    background-color: transparent;
    animation-duration: 3.5s;
    animation-name: descriptionButon;
}

.season-product-description-button:hover {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 280px;
    margin-right: 380px;
    background-color: #333;
}

.descriptionButon {
    animation-name: descriptionButon;
}

@keyframes descriptionButon {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-right: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}


/* reserve-coffee */

.reserve-coffee {
    position: relative;
    z-index: -1;
    background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee-container-outside {
    width: 1100px;
    margin: 0 auto;
    border: 1px solid red;
    height: 380px;
    display: flex;
}

.reserve-coffee-bg>img {
    z-index: -1;
}

.reserve-coffee-logo {
    position: absolute;
    top: 0;
    margin-top: 100px;
    animation-name: reserveCoffeeLogo;
    animation-duration: 2s;
}

.reserveCoffeeLogo {
    animation-name: reserveCoffeeLogo;
}

@keyframes reserveCoffeeLogo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-left: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.reserve-coffee-reserve-coffee {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    animation-name: reserveCoffeeTitle;
    animation-duration: 2s;
}

.reserveCoffeeTitle {
    animation-name: reserveCoffeeTitle;
}

@keyframes reserveCoffeeTitle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-left: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.reserve-cofee-description {
    color: burlywood;
    font-size: 20px;
    width: 500px;
    animation-name: reserveCoffeeDescription;
    animation-duration: 2.5s;
}

.reserveCoffeeDescription {
    animation-name: reserveCoffeeDescription;
}

@keyframes reserveCoffeeDescription {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-left: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.reserve-coffee-description-container {
    margin-top: 100px;
    margin-left: 200px;
}

.reserve-coffee-description-button {
    width: 130px;
    padding: 10px;
    border: 2px solid burlywood;
    color: burlywood;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    position: absolute;
    margin-top: 20px;
    background-color: transparent;
    animation-duration: 3s;
    animation-name: reserveCoffeeButton;
    cursor: pointer;
}

.reserve-coffee-description-button:hover {
    width: 130px;
    padding: 10px;
    border: 2px solid burlywood;
    color: white;
    opacity: 0.5;
    background-color: burlywood;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    position: absolute;
    margin-top: 20px;
    background-color: transparent;
}

.reserveCoffeeButton {
    animation-name: reserveCoffeeButton;
}

@keyframes reserveCoffeeButton {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-left: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.reserve-coffee-image {
    /* position: absolute; */
    right: 0;
    top: 0;
}


/* favorite */

.favorite {
    background-image: url("../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.favorite-container {
    width: 1100px;
    height: 400px;
    ;
    border: 1px solid white;
    margin: 0 auto;
}

.favorite-button {
    width: 130px;
    padding: 10px;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: 20px;
    background-color: transparent;
    float: right;
    animation-name: favoriteButton;
    animation-duration: 3.2s;
}

.favoriteButton {
    animation-name: favoriteButton;
}

@keyframes favoriteButton {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        margin-left: -200px;
    }
    75% {
        opacity: 1;
    }
    100% {
        margin-left: 0px;
    }
}

.favorite-button:hover {
    width: 130px;
    padding: 10px;
    border: 2px solid white;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: 20px;
    color: #333;
    float: right;
}

.favorite-inner-container {
    width: 500px;
    height: 400px;
    border: 1px solid white;
    margin-top: 50px;
}

.favorite-inner-container>div {
    text-align: right;
    color: white
}

.favorite-title {
    font-size: 105px;
    font-weight: bold;
    animation-name: favoriteTitle;
    animation-duration: 2s;
}

.favoriteTitle {
    animation-name: favoriteTitle;
}

@keyframes favoriteTitle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

.favorite-second {
    font-size: 52px;
    font-weight: bold;
    animation-name: favoriteTitle;
    animation-duration: 2.5s;
}

.favoriteSecond {
    animation-name: favoriteTitle;
}

.favorite-third {
    font-size: 30px;
    animation-name: favoriteTitle;
    animation-duration: 3s;
}

.favorite-forth {
    animation-name: favoriteTitle;
    animation-duration: 3.1s;
}


/* reserve store */

.reserve-store {
    background-image: url("../images/reserve_store_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
}

.reseve-store-container {
    width: 1000px;
    height: 700px;
    border: 1px solid yellow;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-back-ground {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 1px solid pink
}

.card-back-ground:hover>.the-front {
    transform: perspective(600px) rotateY(-270deg);
}

.card-back-ground:hover>.the-back {
    transform: perspective(600px) rotateY(0deg);
}

.the-front {
    position: absolute;
    width: 350px;
    margin-left: -15px;
    height: 350px;
    backface-visibility: hidden;
    color: #333;
    transition: transform 1s ease-in-out;
    transform: perspective(600px) rotateY(0deg);
}

.the-back {
    position: absolute;
    width: 350px;
    height: 350px;
    backface-visibility: hidden;
    color: #333;
    transition: transform .6s linear;
    transform: perspective(600px) rotateY(270deg)
}

.store-info-button {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: -80px;
    margin-left: 100px;
    position: absolute;
    color: #333;
}

.store-info-button:hover {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: -80px;
    margin-left: 100px;
    position: absolute;
}


/* find store */

.find-store {
    width: 100%;
    height: 400px;
    background-image: url("../images/find_store_bg.jpg");
    position: relative;
}

.find-store-container {
    width: 1200px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

.find-store-first-image>img {
    border-radius: 100%;
    position: absolute;
    top: 0;
    margin-top: -50px;
    z-index: 1;
    animation-name: findStoreFirst;
    animation-duration: 2s;
}

.findStoreFirst {
    animation-name: findStoreFirst;
}

@keyframes findStoreFirst {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        margin-right: 0;
    }
}

.find-store-second-image>img {
    border-radius: 100%;
    position: absolute;
    margin-left: 200px;
    margin-top: 150px;
    z-index: 2;
    animation-name: findStoreFirst;
    animation-duration: 2s;
}

.find-store-third-image>img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.find-store-last-image>img {
    top: 0;
    margin-left: 400px;
}

.find-store-description {
    width: 700px;
    height: 200px;
    border: 1px solid black;
    margin-left: 450px;
    position: relative;
    color: #333;
}

.find-store-button {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    color: #333;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: 20px;
    background-color: transparent;
    
}

.find-store-button:hover {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: 20px;
    background-color: #333;
  
}

.find-store-description-first {
    font-weight: bold;
    font-size: 20px;
    animation-name: findStoreText;
    animation-duration: 2s;
}

.find-store-description-second {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: bold;
    animation-name: findStoreText;
    animation-duration: 2s;
}

.findStoreText {
    animation-name: findStoreText;
}

.find-store-description-second-container,
.find-store-button {
    animation-name: findStoreText;
    animation-duration: 2s;
}

@keyframes findStoreText {
    0% {
        margin-left: 200px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        margin-left: 0;
    }
}


/* award */

.award {
    width: 100%;
    height: 200px;
    background-color: #272727;
    position: relative;
}

.award-container {
    position: relative;
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}

.award-images {
    display: flex;
    margin-top: 75px;
}


/* footer */

.footer {
    width: 100%;
    height: 300px;
    background-color: #272727;
    position: relative;
    border-top: 1px solid #333
}

.footer-container {
    position: relative;
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}

.terms {
    display: flex;
    color: #ccc;
    font-size: 12px;
    justify-content: space-evenly;
    margin-top: 50px;
}

.terms-PIO {
    color: #669900;
}



.terms-buttons {
    display: flex;
    justify-content: center;
    
}

.terms-button {
    width: 130px;
    
    padding: 10px;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
    margin-top: 30px;
    background-color: transparent;
    margin-right: 10px;
}

.copyright {
    color: #999;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 30px;
}

.footer-container>img {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}